html
    head
        title CONTAINER SPEC
        link(rel='stylesheet', href='./css/bootstrap.min.css', type='text/css')
        script(src="./js/bootstrap.bundle.min.js")
    body
    dev(class="container")

        ul
            <h3 class= "text-center">HOST NAME</h1>
            li=hostname+" -----> " + env + "-" + app_version
            <h3 class= "text-center">UP TIME</h1>
            li=uptime
            <h3 class= "text-center">CPU INFO</h1>
            li=lscpu
            <h3 class= "text-center">MEMORY INFO</h1>
            li=meminfo
            <h3 class= "text-center">DEVELOPER</h1>
            li=dev
